.DS_Store
Brewfile.lock.json
btop/.config/btop/btop.log
fish/.config/fish/conf.d/101_fintecture_exports.fish
fish/.config/fish/functions/gcloud_config_generate.fish
git/*
k9s/.config/k9s/clusters/*
nix/*
nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim/snippets/
tmux/.config/tmux/plugins
espanso/.config/espanso/match/ai-driven-dev-prompts/
espanso/.config/espanso/match/prompt-ops/
opencode/**/.build
opencode/**/logs
opencode/**/.sensitive
opencode/**/agent
opencode/**/command
opencode/**/rules
zellij/.config/zellij/plugins/zjstatus.wasm
.project_notes.md
