layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "#[fg=#a6da95,bold]󰲁 #[fg=#c6a0f6,bold]{session} #[fg=#cad3f5]- {mode}"
                format_center "{tabs}"
                format_right  "#[fg=#8aadf4,bold]{datetime}"
                format_space  ""

                border_enabled  "false"
                hide_frame_for_single_pane "true"

                mode_normal  "#[fg=#a6da95]NORMAL"
                mode_locked  "#[fg=#ed8796]LOCKED"
                mode_resize  "#[fg=#f5a97f]RESIZE"
                mode_pane    "#[fg=#8aadf4]PANE"
                mode_tab     "#[fg=#c6a0f6]TAB"
                mode_scroll  "#[fg=#eed49f]SCROLL"
                mode_move    "#[fg=#91d7e3]MOVE"
                mode_search  "#[fg=#f5bde6]SEARCH"

                session         "{name}"
                datetime        "  {format}"
                datetime_format "%d/%m/%Y %H:%M"
                datetime_timezone "Europe/Paris"

                tab_normal   "#[fg=#8aadf4] {name} "
                tab_active   "#[fg=#a6da95,bold] {name} "
                tab_separator "#[fg=#5b6078] - "
            }
        }
    }

    tab name="  terminal" {
        pane
    }

    tab name="  top" start_suspended=true {
       pane {
         command "btop"
       }
    }

}

theme "catppuccin-macchiato"
